body{
    height: 100vh;
    background-color: #FFCCC3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reveal{
    display: flex;
    flex-direction: column;
    height: 35%;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    transform: translateY(80px);
    transition: all 1s ease;
    color: #5C4034;
}
.reveal.active {
    opacity: 1;
    transform: translateY(0);
}
section h1 {
    font-size: 90px;
    font-family: "Sora", sans-serif;
}
section h3 {
    font-size: 20px;
    font-family: "Futura LT W01 Light Oblique";
}
section button{
    height: 40px;
    width: 145px;
    background-color: #5C4034;
    color: white;
    font-size: 16px;
    font-family: "Futura LT W01 Light Oblique";
    border-radius: 27px;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}
section button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
img{
    width: 95%;
    height: 70%;
    object-fit: cover;
}
@media (max-width: 1024px) {
    body {
        padding: 15px;
    }

    section h1 {
        font-size: 60px;
    }

    section h3 {
        font-size: 18px;
    }

    section button {
        height: 35px;
        width: 130px;
        font-size: 14px;
    }
}

@media (max-width: 868px) {
    body {
        padding: 10px;
        min-height: 100vh;
    }

    .reveal {
        height: auto;
        gap: 20px;
    }

    section h1 {
        font-size: 40px;
    }

    section h3 {
        font-size: 16px;
    }

    section button {
        height: 35px;
        width: 120px;
        font-size: 12px;
        padding: 8px;
    }

    img {
        height: auto;
        max-height: 300px;
    }
}